manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: caksoylar
      url-base: https://github.com/caksoylar
    - name: badjeff
      url-base: https://github.com/badjeff
    - name: te9no
      url-base: https://github.com/te9no
  projects:
    - name: zmk
      #remote: zmkfirmware
      remote: te9no
      revision: main
      import: app/west.yml
    - name: zmk-rgbled-widget
      remote: caksoylar
      revision: main
    - name: zmk-pmw3610-driver
      remote: badjeff
      revision: main
    - name: zmk-analog-input-driver
      remote: badjeff
      revision: main
    - name: zmk-dongle-display
      remote: te9no
      revision: main
    - name: zmk-driver-tlx493d-2
      remote: te9no
      revision: main
      
    # - name: zmk-leader-key
    #   remote: urob
    #   revision: v0.2.1 # set to same as ZMK version above
  self:
    path: config