config SHIELD_Base_CT
    def_bool $(shields_list_contains,Base_CT)

config SHIELD_Base_PR
    def_bool $(shields_list_contains,Base_PR)


config SHIELD_TB_CT
    def_bool $(shields_list_contains,TB_CT)

config SHIELD_TB_PR
    def_bool $(shields_list_contains,TB_PR)


config SHIELD_TBv3_PR
    def_bool $(shields_list_contains,TBv3_PR)
    
    
config SHIELD_JOY_CT
    def_bool $(shields_list_contains,JOY_CT)

config SHIELD_JOY_PR
    def_bool $(shields_list_contains,JOY_PR)


config SHIELD_ENC_L
    def_bool $(shields_list_contains,ENC_L)

config SHIELD_ENC_R
    def_bool $(shields_list_contains,ENC_R)


config SHIELD_RZT_CT
    def_bool $(shields_list_contains,RZT_CT)

config SHIELD_RZT_PR
    def_bool $(shields_list_contains,RZT_PR)


config SHIELD_KEY_Common
    def_bool $(shields_list_contains,KEY_R)


config SHIELD_TPD_CT
    def_bool $(shields_list_contains,TPD_CT)
