#include <dt-bindings/zmk/matrix_transform.h>
#include <behaviors/rgbled_widget.dtsi>

/ {
	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <14>;
		rows = <9>;
		
		map = <
		RC(0,6)   RC(1,6)   RC(2,6)   RC(3,6)   RC(4,6)   RC(5,6)       RC(0,14)  RC(1,14)  RC(2,14)  RC(3,14)  RC(4,14)  RC(5,14)  RC(0,13)  RC(1,13) RC(2,13)
		RC(0,5)   RC(1,5)   RC(2,5)   RC(3,5)   RC(4,5)   RC(6,5)       RC(3,13)  RC(4,13)  RC(6,13)  RC(0,12)  RC(1,12)  RC(2,12)  RC(3,12)  RC(5,12)
		RC(0,4)   RC(1,4)   RC(2,4)   RC(3,4)   RC(5,4)   RC(6,4)       RC(6,12)  RC(0,11)  RC(1,11)  RC(2,11)  RC(4,11)  RC(5,11)            RC(6,11)
		RC(0,3)   RC(1,3)   RC(2,3)   RC(4,3)   RC(5,3)   RC(6,3)       RC(0,10)  RC(1,10)  RC(3,10)  RC(4,10)  RC(5,10)  RC(6,10)            RC(0,9)
		RC(0,2)   RC(1,2)   RC(3,2)   RC(4,2)   RC(5,2)                 RC(2,9)                                                     RC(3,9)   RC(4,9)  RC(5,9)
        RC(8,0)   RC(8,1)   RC(8,2)                                     RC(8,8)   RC(8,9)   RC(8,10)
		>;
	};

    aliases {
        led-red = &led0;
        led-green = &led1;
        led-blue = &led2;
    };

    leds {
        compatible = "gpio-leds";
        status = "okay";
        led0: led_0 {
            gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;  // red LED, connected to P0.26
        };
        led1: led_1 {
            gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;  // green LED, connected to P0.30
        };
        led2: led_2 {
            gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;  // blue LED, connected to P0.06
        };
    };
};