#include "MKB_L_Base.dtsi"
#include <dt-bindings/zmk/keys.h>

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 4)>,
                    <NRF_PSEL(SPIM_MISO, 0, 4)>;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 4)>,
                    <NRF_PSEL(SPIM_MISO, 0, 4)>;
            low-power-enable;
        };
    };
};

/ {
    trackball_listener2 {
        compatible = "zmk,input-listener";
        status = "okay";
        device = <&trackball2>;
        input-processors = <&zip_temp_layer 3 700>;
    };

    behaviors {
        ba_layer1: ball_action_1 {
            compatible = "zmk,behavior-ball-action";
            label = "BALL_ACTION_1";
            layers = <1>;
            #ball-action-cells = <0>;
            bindings = <&kp LEFT 
                       &kp RIGHT
                       &kp UP
                       &kp DOWN>;
            tick = <20>;
            wait-ms = <50>;
            tap-ms = <10>;
        };

        ba_layer2: ball_action_2 {
            compatible = "zmk,behavior-ball-action";
            label = "BALL_ACTION_2";
            layers = <2>;
            #ball-action-cells = <0>;
            bindings = <&kp HOME 
                       &kp END
                       &kp PG_UP
                       &kp PG_DN>;
            tick = <30>;
        };
    };
};

&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&xiao_d 7 GPIO_ACTIVE_LOW>;

    trackball2: trackball2@0 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&xiao_d 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        cpi = <800>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
    scroll-layers = <3>;           // レイヤー3でスクロールモード
    snipe-layers = <4>;           // レイヤー4でスナイプモード（低CPI）
    ball-actions = <&ba_layer1 &ba_layer2>;  // 定義したball-actionを参照

        force-awake;
    };
};
